<div class='info-title'>
    <h1>Engine</h1>
</div>
<div class='edit-info-container'>
    <h4>Select Engine</h4>
    <div class='edit-car-info-links'>
        <ul>
        <% @engines.each do |engine| %>
            <%= link_to edit_engine_path(engine) do %>
                <li><%= engine.horsepower %> hp | <%= engine.torque %> ft-lbs</li>
            <% end %>
        <% end %>
        </ul>
    </div>
</div>