<span class='provider-signin github-provider'><%= link_to 'Sign in with Github', '/auth/github', class: 'github-link' %></span>
<span class='provider-signin facebook-provider'><%= link_to 'Sign in with Facebook', '/auth/facebook', class: 'facebook-link' %></span>