<span class='github-signin'>Sign in with<%= link_to 'Github', '/auth/github', class: 'github-link' %></span><br>
<span class='github-signin'>Sign in with<%= link_to 'Facebook', '/auth/facebook', class: 'github-link' %></span><br>