<span class='github-signin'>Sign up with<%= link_to 'Github', github_path, class: 'github-link' %></span>
<span class='github-signin'>Sign up with<%= link_to 'Facebook', facebook_path, class: 'github-link' %></span>