<span class='provider-signin github-provider'><%= link_to 'Sign up with Github', github_path, class: 'github-link' %></span>
<span class='provider-signin facebook-provider'><%= link_to 'Sign up with Facebook', facebook_path, class: 'facebook-link' %></span>