<div class='form-container'>
    <%= render 'signup_omniauth' %>
    <div class='forms'>
        <%= render 'form' %>
        <span class='signin-link'><%= link_to "Already have an account? Sign In", signin_path %></span>
    </div>
</div>