<h1>Purchases</h1>

<% @purchases.each do |vehicle| %>
    <% if vehicle.is_purchased == true %>
        <%= link_to vehicle_path(vehicle) do %>
            <%= vehicle.car_make.name %>
        <% end %>
    <% end %>
<% end %>