<div class='image-upload'>
        <h3>Upload New Image</h3>
        <%= form_tag({:action => 'create'}, :multipart => true, class: 'form-upload') do %>    
            <p><label for="upload_file">Select File</label> : 
                <%= file_field 'upload', 'datafile' %></p>
                <%= submit_tag "Upload" %>
        <% end %>
</div>