.info-container {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: auto;
    grid-template-areas: 
      "header header header"
      ". main .";
}

.info-title {
    grid-area: header;
    overflow: hidden;
    text-align: center;
    margin: 90px 90px;
    border-bottom: 1px solid #d4cdcd;
    padding-bottom: 20px;
}

.info-form {
    grid-area: main;
    overflow: hidden;
    width: 42%;
    margin: 0 32%;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    padding: 35px 0;
}

.info-form form {
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 65%;
    margin: 0px 78px;
}

.info-form form label {
    padding: 5px 0;
    font-weight: bold;
}

.info-form form input[type='text'],
input[type='number'] {
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
}

.info-form form input.create-new-car-info {
    padding: 12px 36px;
    border-radius: 20px;
    background-color: #3e6ae1;
    font-weight: 700;
    color: #fff;
    border: 0;
    width: 100%;
    margin: 35px 0 15px;
}

.delete-car-info {
    padding: 12px 36px;
    border-radius: 20px;
    background-color: #3e6ae1;
    font-weight: 700;
    color: #fff;
    border: 0;
    width: 100%;
}

.delete-car-info:hover {
    opacity: .85;
    cursor: pointer;
}

.info-form form input.create-new-car-info:hover {
    opacity: .85;
    cursor: pointer;
}

.edit-info-container {
    grid-area: main;
    overflow: hidden;
}

.edit-car-info-links ul {
    display: flex;
    flex-flow: column wrap;
    max-height: fit-content;
    height: 750px;
    list-style: none;
}

.edit-car-info-links ul a {
    width: fit-content;
    text-decoration: none;
}

.edit-car-info-links ul a:hover {
    text-decoration: underline;
}

.edit-car-info-links ul li {
    padding: 10px 0;
    width: fit-content;
    color: #000;
}