.car-make-container {
    display: flex;
    flex-direction: column;
}


.car-search-types {
    display: flex;
    justify-content: flex-end;
    margin-top: 60px;
}

.car-search-types select {
    margin: 0 5px;
}

.car-makes ul li {
    list-style: none;
}

.vehicle-list {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(160px, 1fr));
}