<div class='info-title'>
    <h1>Car Model</h1>
</div>
<div class='edit-info-container'>
    <h4>Select Model</h4>
    <div class='edit-car-info-links'>
        <ul>
        <% @car_models.each do |car_model| %>
            <%= link_to edit_car_model_path(car_model) do %>
                <li><%= car_model.name %></li>
            <% end %>
        <% end %>
        </ul>
    </div>
</div>